@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  color: #fff;
  background-color: #1b1b32;
  font-family: lato, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  width: 100%;
}